

@import url('https://fonts.googleapis.com/css2?family=Khand&family=Lobster&family=Roboto&family=Shippori+Antique&display=swap');

$font-logo : "Lobster" ;
$font-header : "Khand" ;
$font-title : "Shippori Antique" ;
$font-main: "Roboto" ;